@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.Section_top {
  width: 100%;
  height: 100%;

  background-image: url("../../public/assets/image1.png");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;

  animation: change 10s infinite ease-in-out;
}
.active {
  color: #90dd3e;
}
.activesub {
  background-color: #b0fffc;
}

@keyframes change {
  0% {
    background-image: url("../../public/assets/image1.png");
  }
  20% {
    background-image: url("../../public/assets/image2.png");
  }
  40% {
    background-image: url("../../public/assets/image3.png");
  }
  60% {
    background-image: url("../../public/assets/image4.png");
  }
  80% {
    background-image: url("../../public/assets/image4.png");
  }
  100% {
    background-image: url("../../public/assets/image1.png");
  }
}
